#footer-section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 8em;
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: column; */
    /* background-image: url("/netflix-bg.jpg"); */
}

.footer-link-div {
    display: grid;
    /* grid-template-columns: repeat(); */
    grid-template-columns: repeat(4, 1fr);
    /* position: absolute; */
    /* bottom: 0; */
}
